<h2>StaticPages#about</h2>
<p>Find me in app/views/static_pages/about.html.erb</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio, odio, aperiam quod iure fuga illum deserunt obcaecati dolores ipsum expedita labore beatae repellendus officia tempora eos mollitia eveniet accusamus</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, ad, est recusandae quod cum autem ipsum in amet tempore delectus cumque alias quaerat qui obcaecati reiciendis voluptatum voluptatibus non consequatur.</p>

<%= link_to "Back to home", root_path, class: "btn btn-default" %>
